.landing  {
    overflow-y: auto;
    height: 100%;
    background:#fbfbfd;
}

.main {
    margin-top: 55px;
}

.main__verticalCardWrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 5px auto 0 auto;
    width: 99%;
    
    @include break(m, max) {
        margin-top: 20px;
    }
}