.articleHeader {
    width: 95%;
    margin: auto;
    border-top: 2px solid black;
    margin-top: 25px;

    @include break(l, min) {
        width: 100%;
    }
}


.articleHeader__wrapper {
    padding: 20px;
}

.articleHeader__title {
    font-family: 'inter';
    font-size: var(--font-size-h2);
}