$color-grey-light-1: #d4d4d4; 
$color-black: #000;
$color-white: #fff;


@mixin break($prefix, $type: false){
    
    @if $prefix == s {
        @if $type == min { @media only screen and (min-width: 0px) { @content; } }
        @else if ($type == max) { @media only screen and (max-width: 767px) { @content; } }
        @else if ($type == min-max) { @media only screen and (min-width: 0px) and (max-width: 767px) { @content; } }
    }
    @else if $prefix == m {
        @if $type == min { @media only screen and (min-width: 768px) { @content; } }
        @else if ($type == max) { @media only screen and (max-width: 1023px) { @content; } }
        @else if ($type == min-max) { @media only screen and (min-width: 768px) and (max-width: 1023px) { @content; } }
    }
    @else if $prefix == l {
        @if $type == min { @media only screen and (min-width: 1024px) { @content; } }
        @else if ($type == max) { @media only screen and (max-width: 1280px) { @content; } }
        @else if ($type == min-max) { @media only screen and (min-width: 1024px) and (max-width: 1279px) { @content; } }
    }
    @else if $prefix == xl {
        @if ($type == min) or ($type == min-max) { @media only screen and (min-width: 1280px) { @content; } }
        @else if ($type == max) { @media only screen and (max-width: 1600px) { @content; } }
        @else if ($type == min-max) { @media only screen and (min-width: 1080px) and (max-width: 1600px) { @content; } }
        @else { @content; }
    }
}


/*   imports   */
@import "../src/components/mainCard/style.scss";
@import "../src/components/verticalCard/style.scss";
@import "../src/components/menu/style.scss";
@import "../src/components/header/style.scss";
@import "../src/App.scss";